{% extends "base.html" %}

{% block title %}
  Task List
{% endblock %}

{% block content %}
  <div class="col-10">
    <div class="d-flex justify-content-between align-items-center">
      <h1>Tasks List</h1>
      <a href="{% url 'tasks:task-create' %}" class="btn btn-primary">Create</a>
    </div>
    <ul class="list-group">
      {% for task in task_list %}
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div>
            <p>
              <strong>
                {{ task.content }}
                <span class="text-{{ task.is_done|yesno:'success,danger' }}">
                {{ task.is_done|yesno:"Done,Not done" }}
              </span>
              </strong>
            </p>
            <p>
              Created: {{ task.datetime }}
              {% if task.deadline %}
                <span class="text-danger">
                Deadline: {{ task.deadline }}
              </span>
              {% endif %}
            </p>
            <p class="text-secondary h6">
              Tags:
              {% for tag in task.tags.all %}
                {{ tag }}
              {% endfor %}
              <a href="{% url 'tasks:task-update' task.pk %}">Update</a>
              <a href="{% url 'tasks:task-delete' task.pk %}">Delete</a>
            </p>
          </div>
          <form action="{% url 'tasks:task-toggle-completion' pk=task.pk %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-xl bg-{{ task.is_done|yesno:'success,secondary' }} text-white">
              {{ task.is_done|yesno:"Undo,Complete" }}
            </button>
          </form>
        </li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}
